파이썬 변수
  - 정수형
  - 문자열
  - 실수
  - 불리언

정수형

In [ ]:
# 숫자 변수
number = 10
print(number)

10

In [ ]:
# 년 월 일을 각각 변수 넣고 출력
year = 2023
month = 6
day = 19

In [ ]:
print(year,month,day)

2023 6 19

실수형

In [ ]:
pi = 3.14

In [ ]:
print(pi)

3.14

사칙연산 : 이항연산
  - +
  - -
  - *
  - /

In [ ]:
num1 = 5
num2 = 2

In [ ]:
num1 = 5; num2 = 2

In [ ]:
num1, num2 = 5, 2

In [ ]:
sum( [1,20,22,15,14,1,4,5,1,4,1] )

88

In [ ]:
hap = num1 + num2
print(hap)

7

In [ ]:
print(num1 - num2)

3

In [ ]:
print(num1 * num2)

10

In [ ]:
print(num1 / num2)

2.5

In [ ]:
num2**3

8

In [ ]:
# num1 과 num2를 나누기하면 몫과 나머지를 각각 구해봅시다
print(num1 // num2)

2

In [ ]:
num1 / num2 - num1//num2

0.5

In [ ]:
# 나머지 연산자
print(num1 % num2)

1

In [ ]:
# 잔돈거슬러 주기
product_price = 7500
pay_money = 10000
# 몫과 나머지 연산자(//  %) 이용해서
# 점원이 잔돈을 줄때
# 1000 : ?
# 500 : ?
# 100 : ?
# 50 : ?
# 10 : ?

문자열
  - 문자들의 집합
  - 문자 : character의 약자인 char
  - 문자열 : String

In [ ]:
"안녕하세요 'python' "

"안녕하세요 'python' "

In [ ]:
'안녕하세요 "python" '

'안녕하세요 "python" '

사용자로부터 입력을 받기

In [ ]:
age = input("나이를 입력하세요")

나이를 입력하세요25

In [ ]:
age

'25'

In [ ]:
"a"+"b"

'ab'

In [ ]:
"a"*2

'aa'

In [ ]:
"abc"*2

'abcabc'

In [ ]:
age = input("숫자를 입력하세요 : ")
age = int(age)
age

두개의 숫자를 입력받아서 사칙연산을 각각 해봅시다

In [32]:
number1 = int(input("첫번째 숫자를 입력하세요 : "))
number2 = int(input("첫번째 숫자를 입력하세요 : "))

첫번째 숫자를 입력하세요 : 5
첫번째 숫자를 입력하세요 : 2

In [ ]:
print( number1 + number2 ) # +
print( number1 - number2 ) # -
print( number1 * number2) # *
print( number1 / number2) # /
print( number1 // number2) # //
print( number1 % number2) # %

불린형
  - true / false

In [35]:
isSuccess = True

In [37]:
isSuccess = False

코딩팁 - ctrl+spacebar
  - 코딩을 할때는 가급적 자동완성기능을 이용해서
  - 오타의 실수를 피한다.
  - 다 외울수 없으므로 적극 활용한다

naming
  - 변수는 여러단어가 결합된 형태일때는 _ 붙인다.
  - 소문자
  - 숫자 및 특수기호로 시작할수 없다(단 _ 예외)

In [44]:
# display_number
# displayNumber
_number = 10
number = 20

변수
  - 저장공간 이름을 갖는다
  - age = 10   오른쪽은 값이오고 왼쪽은 저장할 대상
    - 왼쪽은 상수와 수식이 아닌 저장대상이 되는 이름
    - 오른쪽은 값,수식,변수,함수
    - 왼쪽 = 오른쪽 할때 = : 대입연산자
    - 변수이름은 최대한 의미를 전달할 수 있도록 명명
      - 정 사용할 이름이 마땅치 않으면 한글표현식 영어 가능
      - _를 제외한 특수기호나 숫자로 시작 할 수 없다
연산자
  - 사칙연산자
  - // 몫
  - % 나머지
  - ** 지수승
  - 문자열 + 문자열 : 두개의 문자열을 합친 새로운 문자열
  - 문자열*숫자 : 문자열을 숫자만큼 반복