- 학생
  - 아이디 id
  - 이름   name
  - 전공   major
  - 학점   grades
- 과목
  - 과목코드 code
  - 과목명   name
  - 학점   credits

In [50]:
class Student:
  all_students = []
  def __init__(self,student_id, name, major):
    self.student_id = Student
    self.name = name
    self.major = major
    self.grades = {}
    Student.all_students.append(self)
  def add_grade(self,course_code,grad):
    if course_code in self.grades.keys():
      course_name = Course.all_course[course_code]
      yesno = input(f"{course_name}가 존재합니다.]\n 변경 하시겠습니까(y/n)")
      if yesno.lower() == 'y':
        self.grades[course_code] = grad
    else:
      self.grades[course_code] = grad

class Course:
  all_course = []
  def __init__(self,code,name,credits):
    self.code = code
    self.name = name
    self.credits = credits
    Course.all_course.append(self)
  def getName(self,code):
    return self.name

In [51]:
# 학생객체 생성
s1 = Student("s001",'홍길동','Computer Science')
s2 = Student("s002",'김선달','Mathmatics')

c1 = Course("c001",'python programming',3)
c2 = Course('c002','Data Structure',3)

In [54]:
Course.all_course,  Student.all_students[0].name0

({'c001': 'python programming', 'c002': 'Data Structure'}, '김선달')

In [ ]:
s1.add_grade('c001','A')
s1.add_grade('c002','B')
s1.add_grade('c001','B')  # 학점을 변경하려는건지? 없는줄 알고 새롭게 입력하려는 건지
# 동일한 과목이 있습니다. 변경하시겠습니까?
# y면 변경하고 n면 취소
s1.grades