ERROR / EXCEPTION

In [3]:
num1,num2 = 10,0
if num2 != 0:
  print(num1/num2)
print(num1*num2 )
print(num1 + num2)

0
10

오류(Error)
  - 구문 오류(Syntax Error)
    - 오타
  - 런타임 오류(runtime Error) / 예외(exception)
    - 프로그램 실행중에 발생하는 오류

In [4]:
list_1 = [1,2]
print(list_1[2])

IndexError: ignored

In [13]:
input_number = input("정수를 입력하세요 : ")
if input_number.isdigit():
  print(int(input_number) + 10)

정수를 입력하세요 : 234234
234244

예외 적용
  - try:
    - 예외 발생이 예상되는 모든 코드
  - except:
    - 예외가 발생했을때 처리할 코드

In [17]:
num1,num2 = 10, 0
try:
  print(num1 / num2)
except:
  # print("뭔가 잘못되었습니다.")
  pass

print("종료합니다.")

종료합니다.

파이썬 리스트에는 어떠한 데이터도 들어갈수 있음

그래서 문자형 숫자도 있고 기타 등등도 있는데..

해당 리스트에서 문자형 숫자를 정수로 변환해서 새로운

리스트에 담는다

In [27]:
# 특정 리스트에서 문자열 숫자는 숫자로 변경해서 새로운 리스트에 담는다
list_inputs = ['12','10','오백십',123]
list_number = []

In [28]:
from ast import Pass
for data in list_inputs:
  try:
    list_number.append(int(data))
  except:
    Pass

In [29]:
list_number

[12, 10, 123]

try:
  - 예외가 발생할 가능성이 있는 코드

except:
  - 예외발생시 처리할 코드

else:
  - 예외가 발생하지 않았을때 처리할 코드

In [31]:
try:
  input_number = int(input("정수를 입력하세요 : "))
except:
  print("정수를 입력하세요")
else:
  print(f"입력한 정수는 : {input_number} 입니다.")

정수를 입력하세요 : 12121
입력한 정수는 : 12121 입니다.

try:
  - 예외가 발생할 가능성이 있는 코드

except:
  - 예외발생시 처리할 코드

else:
  - 예외가 발생하지 않았을때 처리할 코드
  
finally:
  - 무조건.....

In [33]:
try:
  input_number = int(input("정수를 입력하세요 : "))
except:
  print("정수를 입력하세요")
else:
  print(f"입력한 정수는 : {input_number} 입니다.")
finally:
  print("무조건 실행되는 구문입니다.")

정수를 입력하세요 : 1212
입력한 정수는 : 1212 입니다.
무조건 실행되는 구문입니다.

try구문은 독립적으로 사용 불가

반드시 except or finally와 함께

else구문을 사용하려면 반드시 except 구분 뒤에 사용

- try ~ except
- try ~ except ~ else
- try ~ except ~ finally
- try ~ except ~ else ~ finally

중간에 return 문이 있으면 어떻게 될까?

In [47]:
def try_function():
  try:
    print(10/1)
    return
  except:
    print('except')
  else:
    print("예외가 발생하지 않았읍니다.")

try_function()

10.0

In [50]:
def try_function():
  try:
    print(10/1)
    return
  except:
    print('except')
  else:
    print("예외가 발생하지 않았읍니다.")
  finally:
    print("무조건 실행됩니다.")

try_function()

10.0
무조건 실행됩니다.

try:

except 에러종류:

except 에러종류:

In [66]:
try:
  # 10 / 0
  int('abc')
except ZeroDivisionError:
  print("0으로 나눌수 없읍니다.")
except:
  print("그밖의 에러")

그밖의 에러

In [87]:
try:
  num1,num2 = map(int, input("공백을 기준으로 두개의 정수를 입력하세요").split(' '))
  print(f"입력하신값은 {num1} {num2} 이고 {num1} / {num2} = {num1/num2}")
except (ZeroDivisionError,ValueError) as e:
  print("올바른 값을 입력하세요")
  print("에러원인은 : " + str(e))
except Exception as e:
  print("그밖의 에러 : " + str(e))

공백을 기준으로 두개의 정수를 입력하세요0
올바른 값을 입력하세요
에러원인은 : empty separator

사용자 정의 예외
  - 기존 Exception클래스를 상속받아서 만든다

In [91]:
class Over10Times(Exception):
  def __str__(self):
    return "10번을 초과했습니다."

print(Over10Times())

10번을 초과했습니다.

In [100]:
try:
  raise Over10Times()
except Over10Times as e:
  print(e)
except Exception as e:
  print(e)

10번을 초과했습니다.

In [101]:
try:
  raise Exception("에러가 발생")
except Exception as e:
  print(e)

에러가 발생

In [102]:
class MyException(Exception):
  def __init__(self, msg):
    super().__init__(msg)

class MyException2(Exception):
  def __init__(self):
    super().__init__("내가 만든 에러")

class MyException3(Exception):
  def __str__(self):
    return "내가 만든 애러2"

In [106]:
try:
  raise MyException("사용자 정의에러")
except MyException as e:
  print(e)

사용자 정의에러

In [107]:
raise MyException("사용자 정의에러")

MyException: ignored

In [120]:
class OutOfStockError(Exception):
  def __init__(self,item):
    super().__init__(f"{item}은 품절입니다.")

def check_stock(item):
  stock = {
      '사과': 5,
      '바나나': 2,
      '딸기': 0
  }
  if stock.get(item,0) == 0:
    raise OutOfStockError(item)
  else:
    print(f"{item}의 재고가 {stock.get(item)}개 있습니다.")

In [125]:
fruit = ['딸기','바나나','수박','사과','홍삼']
for f in fruit:
  try:
    check_stock(f)
  except OutOfStockError as e:
    print(e)

딸기은 품절입니다.
바나나의 재고가 2개 있습니다.
수박은 품절입니다.
사과의 재고가 5개 있습니다.
홍삼은 품절입니다.