클래스
  - 변수와 함수를 하나로 묶음

In [4]:
class DumyClass:
  def __init__(self):
    print("call constructor")
    self.a = 0
  def temp(sefl):
    print("temp")

In [5]:
# 생성자
# 객체가 생성될때 자동으로 호출된다.
# 클래스명()
# __init__(self)

In [6]:
dc = DumyClass()

call constructor

In [7]:
# Event, Callback
# Event가 발생하면 등록된 callback 함수가 실행

In [8]:
class DumyClass:
  def __init__(self,x,y):
    print("call constructor")
    self.x = x
    self.y = y
  def temp(sefl):
    print("temp")

In [9]:
dc = DumyClass(10,20)

call constructor

In [12]:
from enum import Enum
class Color(Enum):  # 상속
  RED=1
  GREEN=2
  BLUE =3

local_color = Color.GREEN
if local_color == Color.GREEN:
  print("녹색")
else:
  print("녹색이 아니다")

녹색

In [18]:
class Category(Enum):
  NEW_ARRIVAL={'color':1}
  TOP=2
  OUTER=3
  PANTS=4
  SHOES=5
  BAG=6

In [27]:
print(Category.NEW_ARRIVAL.name)
print(Category.NEW_ARRIVAL.value)
print(Category.NEW_ARRIVAL.value['color'] )

NEW_ARRIVAL
{'color': 1}
1

In [28]:
class Category(Enum):
  NEW_ARRIVAL=1
  TOP=2
  OUTER=3
  PANTS=4
  SHOES=5
  BAG=6

In [33]:
class Product:
  def __init__(self,name,price,category):
    self.name = name
    self.price = price
    self.category = category
class ProductMng:
  def __init__(self,*products):  # packing
    self.products = products
  def findProduct(self, price):
    for product in self.products:
      if price == product.price:
        return product

In [36]:
p1 = Product("가방",1000,Category.BAG)
p2 = Product("티셔츠",2000,Category.TOP)
p3 = Product("등산복",1000,Category.OUTER)

# pm = ProductMng(p1,p2,p3)  # 일반적인 호출

# unpacking
params = [p1,p2,p3]
pm = ProductMng(*params)

In [37]:
def test(a=0,b=0,c=0):
  print(f"a:{a}, b:{b}, c:{c}")

In [38]:
param = [10,20,30]
test(*param)

a:10, b:20, c:30

In [43]:
param = {'c':10,'a':20,'b':30}
test(**param)

a:20, b:30, c:10

--------------------------------------------

In [45]:
class Category(Enum):
  NEW_ARRIVAL=1
  TOP=2
  OUTER=3
  PANTS=4
  SHOES=5
  BAG=6

class Product:
  def __init__(self,name,price,category):
    self.name = name
    self.price = price
    self.category = category
class ProductMng:
  def __init__(self,*products):  # packing
    self.products = products
  def findProduct(self, price):
    for product in self.products:
      if price == product.price:
        return product

In [50]:
# 상품 추가
products = [
    Product('티셔츠',1000,Category.TOP),Product('바지',2000,Category.PANTS),
    Product('등산복',3000,Category.OUTER),Product('신발',1500,Category.SHOES),
]
mng = ProductMng(*products)
mng.findProduct(3000).category

가격에 대한 검색 조건을 추가

In [54]:
class ProductMng:
  def __init__(self,*products):  # packing
    self.products = products
  def findProduct(self,test):
    result = []
    for product in self.products:
      if(test(product)):
        result.append(product)
    return result

In [59]:
products = [
    Product('티셔츠',1000,Category.TOP),Product('바지',2000,Category.PANTS),
    Product('등산복',3000,Category.OUTER),Product('신발',1500,Category.SHOES),
]
mng = ProductMng(*products)
mng.findProduct(lambda x : (x.category == Category.TOP) or (x.category==Category.PANTS))

클래스
  - 생성자
  - _ _ _str_ _ _
  - 변수, 메소드

객체생성하고 사용해 보기

In [61]:
# 장바구니 클래스
# ShoppingCart
# 상품추가
# 상품제거
# 계산기능(장바구니에 담긴 물품의 총 금액)

In [64]:
class ShoppingCard:
  def __init__(self):
    self.product_list = []
  def add_product(self,product):
    self.product_list.append(product)
  def remove_product(self,product):
    if product in self.product_list:
      self.product_list.remove(product)
  def total_price(self):
    return sum([ product.price for product in self.product_list])

In [65]:
cart = ShoppingCard()
cart.add_product(Product("바지",1000,Category.PANTS))
cart.total_price()

1000

In [83]:
def display_menu(mng):
  print('상품명\t\t가격\t\t카테고리')
  print('----------------------------------------------')
  for m in mng.products:
    print(f'{m.name}\t\t{m.price}\t\t{m.category.name}')

In [84]:
display_menu(mng)

상품명		가격		카테고리
----------------------------------------------
티셔츠		1000		TOP
바지		2000		PANTS
등산복		3000		OUTER
신발		1500		SHOES