클래스 : naming rule  첫글자는 대문자
  - 맴버
    - 속성(변수)
    - 메소드(함수)

In [1]:
class Abc:
  abc = 100

In [3]:
a = Abc()
a.abc = 100

In [4]:
print(a.abc)

100

In [5]:
b = Abc()
b.abc = 200

In [6]:
# 4칙연산을 가능하게 하는 함수
number1, number2 = 20, 10

In [7]:
def add(x,y):
  return x + y
def minus(x,y):
  return x - y
def multi(x,y):
  return x * y
def divid(x,y):
  return x / y

In [8]:
def calc(func, x, y):
  return func(x,y)

In [12]:
calc(lambda x,y: x * y, 10,20)

200

In [43]:
class Calc:
  def __init__(self):
    self.result = 0
  def add(self,x,y):
    self.result =  x + y
  def minus(self,x,y):
   self.result =  x - y
  def multi(self,x,y):
   self.result =  x * y
  def divid(self,x,y):
   self.result =  x / y

In [46]:
c1 = Calc()
c2 = Calc()
c3 = Calc()
c4 = Calc()

In [49]:
c1.result =10
c2.result = c1.result
c1 == c2

False

클래스
  - 변수와 함수(메소드)를 하나의 로직으로 묶는작업
  - 클래스의 변수는 객체
  - 객체명 = 클래스이름()  c = Calc()
  - 클래스의 객체는 서로 독립적이다
  - 클래스의 모든 요소는 self를 포함하고있고 self로 움직인다.
  - 클래스의 메소드의 파라메터는 반드시 가장먼저 self가 와야되고
  - 이는 클래스를 구성하는 역활 실제 사용할때는 전달되지 않는다
  - def add(self, x,y) --> 사용할때는 x, y만 사용
  - 클래스의 내장변수는 __init__(self) 함수안에서 self.변수 = 값

In [79]:
class Calc:
  # 생성자  Constructor
  def __init__(self,result, sum):  # 아주 특수한 상황에서 자동으로 호출되는 메소드
    print('init---')
    self.result = result
    self.sum = sum
  def add(self,x,y):
    print('add-----')
    self.result = x+y

In [81]:
a = Calc(10,10)
print(a.result, a.sum)

init---
10 10

In [85]:
class Calc:
  def __init__(self,x=0,y=0) -> None:
    self.x = x
    self.y = y
  def add(self):
    return self.x + self.y

In [88]:
a = Calc(10,20)
a.add()

30

In [90]:
a = Calc()
a.add()

0

![image.png]()

In [91]:
Calc.add(a)  # 거의 사용 안함  - method - static하게 생성되면 클래스명.메소드

0

In [93]:
# 사각형 클래스 Rectangle
# 속성 : 가로(width) 세로(height)
# 메소드 이름: area  넓이
#     기능 : 가로 * 세로
# 메소드 이름: permiter  둘레
#     기능 : 2 x (가로 + 세로)

In [94]:
class Rectangle:
  def __init__(self,width,height):
    self.width = width
    self.height = height
  def area(self):
    return self.width * self.height
  def permiter(self):
    return 2*(self.width + self.height)

In [96]:
r = Rectangle(10,5)
r.area(), r.permiter()

(50, 30)

In [97]:
# 원  Circle
# 반지름 radius
# area  3.14*radius**2
# circumference  2**3.14*radius

In [98]:
class Circle:
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return 3.14*self.radius**2
  def circumference(self):
    return 2*3.14*self.radius

In [99]:
c = Circle(12.3)
c.area(),   c.circumference()

(475.0506000000001, 77.24400000000001)

In [100]:
# 학생 : Student
# 이름 name, 나이 age ,학년 grade
# display_info  : 이름:000, 나이:00, 학년:0

In [101]:
class Student:
  def __init__(self,name,age,grade):
    self.name = name
    self.age = age
    self.grade = grade
  def disdplay_info(self):
    print(f"이름:{self.name}, 나이:{self.age}, 학년:{self.grade}")

In [102]:
s = Student("홍길동",25,4)
s.disdplay_info()

이름:홍길동, 나이:25, 학년:4

In [103]:
# 자동차 Car
# brand, model, color
# start : "engine started"
# stop : "engine stopped"
# display_info : 속성값들을 출력

In [104]:
class Car:
  def __init__(self,brand,model,color):
    self.brand = brand
    self.model =model
    self.color=color
  def start(self):
    print("engine started")
  def stop(self):
    print("engine stoped")
  def display_info(self):
    print(f"브랜드:{self.brand}, 모델:{self.model}, 색상:{self.color}")

In [105]:
c = Car('현대','소나타','검정')
c.display_info()

브랜드:현대, 모델:소나타, 색상:검정

In [112]:
# 책 클래스  Book
# title, author, publication_year
# display_info
class Book:
  def __init__(self,title,author,publication_year):
    self.title = title
    self.author = author
    self.publication_year = publication_year
  def __str__(self):
    return f'제목:{self.title}, 저자:{self.author}, 출판년도:{self.publication_year}'

In [115]:
b = Book('파이썬','홍길동',2023)

제목:파이썬, 저자:홍길동, 출판년도:2023

In [118]:
# 은행계좌  BankAccount
# account_number, balance(잔액)
# deposit : 입금
# withdraw : 인출 : 잔액이 부족하면 '잔액이 부족합니다.' 출력
class BankAccount:
  def __init__(self,account_number,balance=0):
    self.account_number = account_number
    self.balance = balance
  def deposit(self,amount):
    self.balance += amount
  def widthraw(self,amount):
    if self.balance >= amount:
      self.balance -= amount
    else:
      print("잔액이 부족합니다.")

In [120]:
b = BankAccount("1011-1200",10)
b.deposit(100)
b.deposit(100)
b.widthraw(50)

In [121]:
# 직원 Employee
# 이름 사원번호 부서
# 객체를 프린트하면(__str__) 이름 사원번호 부서를 출력하도록

In [122]:
class Employee:
  def __init__(self,name,id,department):
    self.name = name
    self.id = id
    self.department = department
  def __str__(self):
    return f"이름:{self.name}, 사원번호:{self.id}, 부서:{self.department}"

In [123]:
e = Employee("홍길동",'001','총무부')
print(e)

이름:홍길동, 사원번호:001, 부서:총무부

In [124]:
# 상품클래스 : Product
# 상품명,가격,카테고리

# 상품관리 클래스  ProductMng
# 상품을 관리하는 리스트 : Product의 객체들이 들어감
# 최고가 상품을 리턴하는 메소드

In [ ]:
# category -> 사용자가 변수를 만드는데.. 데이터의 범위를 제한둘수 있음
class Product:
  def __init__(self,name,price,category):
    self.name = name
    self.price = price
    self.category = category

class ProductMng:
  def __init__(self,*product_args):
    self.procut_list = []
    for procut in product_args:
      self.procut_list.append(procut)
  def findMaxPriceItem(self):
    pass