In [3]:
students_list = [
    {'name':"hong", 'age':20},
    {'name':"hong", 'age':20},
    {'name':"hong", 'age':20},
]
students_list

[{'name': 'hong', 'age': 20},
 {'name': 'hong', 'age': 20},
 {'name': 'hong', 'age': 20}]

In [8]:
student = {
    "name":"hong", "age":20, 'name':'lee'
}

In [9]:
student

{'name': 'lee', 'age': 20}

Set

In [10]:
set_data = {1,2,3,4}
set_data

{1, 2, 3, 4}

In [11]:
set_data.add(10)

In [14]:
set_data.pop()

1

In [16]:
t_1 = (10,20)

In [31]:
students_list = [
    {'name':"hong", 'age':20},
    {'name':"lee", 'age':22},
    {'name':"park", 'age':30},
]
# 특정 이름이 있는지 검색  lee를 찾아서 있으면 true 없으면 false 출력
def findName(name):
  for data in students_list:
    if name == data['name']:
      return 'true'
  return 'false'

findName("lee2")

'false'

In [35]:
students_list = [
    {'name':"hong", 'age':20},
    {'name':"lee", 'age':22},
    {'name':"park", 'age':30},
]

In [40]:
def findName(searchName):
  return sum([1 if data['name'] == searchName else 0 for data in students_list]) > 0