lambda 매개변수 : 로직

숫자의 제곱을 계산하는 람다 함수

In [ ]:
func = lambda x : x**2

두 숫자를 더하는 람다 함수:

In [ ]:
func = lambda x,y : x + y

주어진 문자열의 길이를 반환하는 람다 함수:

In [ ]:
func = lambda x : len(x)

문자열을 역순으로 변환하는 람다 함수:

In [ ]:
func = lambda x : x[::-1]

두 숫자 중에서 큰 값을 반환하는 람다 함수:

In [ ]:
func =  lambda x,y : x if x > y else y

주어진 숫자가 짝수인지 확인하는 람다 함수:

In [ ]:
func = lambda x : x%2 == 0

주어진 숫자가 소수인지 확인하는 람다 함수:

In [15]:
func = lambda x :  all([True if x % i else False for i in range(2,x)])

True

문자열을 모두 대문자로 변환하는 람다 함수:

In [ ]:
func = lambda x : x.upper()

주어진 리스트에서 홀수만 필터링하는 람다 함수:

In [ ]:
numbers = list(range(1,11))
func = list(filter( lambda x : x % 2 !=0, numbers))

주어진 리스트의 모든 요소를 제곱하는 람다 함수:

In [ ]:
numbers = list(range(1,11))
func = list(map( lambda x: x**2,numbers))

주어진 문자열에서 모음(a, e, i, o, u)의 개수를 세는 람다 함수:

In [29]:
moeum = 'a,e,i,o,u'
strdata = "a b c d e f g h i j k l m n"

count = 0
for ch in strdata:
  if ch in moeum:
    count +=1

count
# func = lambda x :  sum([1 for ch in x if ch in moeum])

3

주어진 숫자 리스트의 평균을 계산하는 람다 함수:

In [22]:
numbers = list(range(1,11))
func  = lambda x : sum(x) / len(x)

주어진 문자열 리스트에서 길이가 5 이상인 문자열만 필터링하는 람다 함수

In [23]:
strdata = ['abc','aaaa','adsfasdfasd','adfe']
func = list(filter(lambda x : len(x) > 5, strdata))

주어진 숫자 리스트의 합을 계산하는 예제:

In [26]:
from functools import reduce
numbers = list(range(1,11))
func = reduce(lambda x,y : x+y, numbers)

55

주어진 숫자 리스트의 최댓값을 찾는 예제

In [32]:
import random
numbers = [random.randint(1,100) for i in range(10)]
print(reduce(lambda x,y : x if x > y else y, numbers))
print(numbers)

91
[80, 7, 76, 36, 91, 11, 89, 84, 61, 83]

In [33]:
words = ['abc','ccc','ddd','fff']
"".join(words)

'abccccdddfff'

In [34]:
reduce(lambda x,y : x+y, words)

'abccccdddfff'

In [35]:
import random
numbers = [random.randint(1,100) for i in range(10)]
numbers

[51, 69, 57, 44, 40, 89, 85, 11, 30, 78]

In [38]:
# 두개의 변수를 서로 교환
x = 10
y = 20
x,y = y,x