In [7]:
def my_function(*args):
  for i in args:
    print(i*2)

In [8]:
my_function(1,2,3,4,5)

2
4
6
8
10

In [9]:
my_lists = [1,2,3,4,5]
my_function(my_lists)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

un-packing 언팩킹

In [13]:
my_lists = (1,2,3,4,5)
my_function(*my_lists)

2
4
6
8
10

화면에  "어서오세요 반갑습니다." 라는 문장을 출력하는함수

In [14]:
def say_hello():
  print('어서오세요 반갑습니다.')
say_hello()

어서오세요 반갑습니다.

위에서 만든함수를 리턴값이 있는 형태로 변경

In [16]:
def say_hello():
  return "어서오세요 반갑습니다."

print(say_hello())

어서오세요 반갑습니다.

어서오세요 000님 반갑습니다.

In [19]:
# say_hello('홍길동')
# --> 어서오세요 '홍길동'님 반갑습니다.
def say_hello(name):
  print(f"어서오세요 '{name}'님 반갑습니다.")

say_hello("홍길동")

어서오세요 '홍길동'님 반갑습니다.

가변매개변수 & 키워드 가변 매개변수

In [24]:
def my_function(*args):
  print(args)
def my_function2(**kargs):
  print(kargs)

In [25]:
my_function(1,2,3)
my_function2(a=1,b=2,c=3)

(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [26]:
def my_function3(a,b,c,**kargs):
  print(a,b,c)
  print(kargs)

In [30]:
my_function3(a=1,b=2,c=3,d=4)

1 2 3
{'d': 4}

In [35]:
dic_test = {'a':1,'b':2,'c':3}
my_function3(**dic_test)

1 2 3
{}

함수의 parameter를 전달할때는 값을 직접 지정할수도 있지만

un-packing을 이용하면  간단해짐

In [36]:
def test1(*args):
  for i in args:
    print(i)

In [37]:
# test1(1,2,3)
params = [1,2,3]
test1(*params)

1
2
3

In [38]:
def test2(name,age,height,weight):
  print(name,age,height,weight)

In [39]:
test2("김",10,150,40)

김 10 150 40

In [41]:
params = {
    'name':'홍',
    'age':[10,2,50,10],
    'height':10,
    'weight':10
}
test2(**params)

홍 [10, 2, 50, 10] 10 10

In [46]:
# 두개의 숫자를 더하는 함수
# 주어진 문자열을 반복하는 함수  repeat('대한민국',10)  -> 대한민국대한민국..
def repeat(strdata,time):
  return strdata*time
# 리스트를 전달 받아서 최대값을 반환하는 함수
def getFindMax(list_data):
  return max(list_data)
# 문자열 또는 리스트형태의 데이터를 받아서 역순으로 반환하는 함수
def reverse_lists(list_data):
  return list_data[::-1]
# 리스트를 정렬하는데 옵션에 따라서 asc(오름차순) / desc(내림차순)
def sort_lists(lists, desc=False):
  lists.sort(reverse=desc)

In [65]:
temp_lists = [1,5,2,4,8,7]
sort_lists(temp_lists,True)
temp_lists

[8, 7, 5, 4, 2, 1]

In [60]:
def abc(a, isSuccess=True):
  if isSuccess:
    print('abc')
  else:
    print('aaaaaa')

----------------------------------------------------------

In [68]:
# 짝수 또는 홀수를 판단하는 함수
def is_even(number):
  if number % 2 ==0:
    return True
  else:
    return False

In [71]:
number = int(input("자연수를 입력하세요"))
if is_even(number):
  print("짝수 입니다.")
else:
  print("홀수 입니다.")

자연수를 입력하세요125147845465
홀수 입니다.

In [74]:
# 어떤 자연숭의 배수면 true / false를 리턴하는 함수
def is_divided(number, divided_num ):
  if number % divided_num ==0:
    return True
  else:
    return False

In [76]:
number = int(input("자연수를 입력하세요 "))
divided_num = int(input("배수를 입력하세요 "))
if is_divided(number,divided_num):
  print(f"{divided_num}의 배수 입니다.")
else:
  print(f"{divided_num}의 배수가 아닙니다.")

자연수를 입력하세요 1485247
배수를 입력하세요 7
7의 배수가 아닙니다.

In [81]:
# 모음  aeiou
# 영문이 주어지면 해당 문자열에서 모음의 개수를 출력
strdata = "abcediekdisjfieksl"
count = 0
for ch in strdata:
  if ch in "aeiou":
    count += 1

print(f'모음의 개수는 총 {count}개 입니다.')

모음의 개수는 총 7개 입니다.

In [82]:
def count_mouem(strdata):
  # strdata = "abcediekdisjfieksl"
  count = 0
  for ch in strdata:
    if ch in "aeiouAEIOU":
      count += 1
  return count
  # print(f'모음의 개수는 총 {count}개 입니다.')

count = count_mouem("abcediekdisjfieksl")
print(f'모음의 개수는 총 {count}개 입니다.')

모음의 개수는 총 7개 입니다.

In [88]:
from random import randint
# 리스트에서 중복을 제거하는 함수
randint(0,15)
# 랜덤한 값으로 채워진 리스트(요소는 10개)

9

In [103]:
# enter_dic : dictionary
def f(age,enter_dic):
  if age >=20:
    enter_price = 10000
    if 'adult' not in enter_dic:
      enter_dic['adult'] = 1
    else:
      enter_dic['adult'] += 1
  elif age>=14:
    enter_price = 4000
    if 'teanager' not in enter_dic:
      enter_dic['teanager'] = 1
    else:
      enter_dic['teanager'] += 1
  elif age >= 8:
    enter_price = 500
    if 'child' not in enter_dic:
      enter_dic['child'] = 1
    else:
      enter_dic['child'] += 1
  else: # 유아
    enter_price = 0
    if 'baby' not in enter_dic:
      enter_dic['baby'] = 1
    else:
      enter_dic['baby'] += 1
  return enter_price

In [108]:
enter_dic={}
enter_price = 0
# enter_price += f(10,enter_dic)
# enter_price += f(20,enter_dic)
enter_price += f(30,enter_dic)
# enter_price += f(15,enter_dic)
# enter_price += f(5,enter_dic)
enter_dic, enter_price

({'adult': 1}, 10000)

In [117]:
total_count,enter_price,enter_dic = 0, 0, {}
for i in range(3):
  age =  int(input("나이를 입력하세요 :"))
  enter_price += f(age,enter_dic)

total_count =  sum(enter_dic.values())
print(f"금일 총 입장객은 {total_count}, 금액 : {enter_price}")
for key,value in enter_dic.items():
  print(f"{key} : {value}")

나이를 입력하세요 :5
나이를 입력하세요 :2
나이를 입력하세요 :1
금일 총 입장객은 3, 금액 : 0
{'baby': 3}
baby : 3