In [12]:
# dictionary에서
# 키를 조회해서 없으면 새로만들고
# 있으면 값을 하나 증가시킨다

In [42]:
# 초기화
dic_1 = {}

In [43]:
# dictionary 자료형에 키가 없으면 최초 만들고 그이후 해당 키가 들어오면 하나 증가시킨다
def makeDic( dic_1, key ):
  if key not in dic_1:
    dic_1[key] = 1
  else:
    dic_1[key] += 1

In [44]:
makeDic(dic_1,"홍길동")
makeDic(dic_1,"홍길동")
makeDic(dic_1,"이순신")
makeDic(dic_1,"강감찬")

In [45]:
dic_1

{'홍길동': 2, '이순신': 1, '강감찬': 1}

In [55]:
# 유권자가 후보한테 투표를 한다.
# 김, 이, 박, 최, 홍
candidate = ['김', '이', '박', '최', '홍']
vote = {}

In [56]:
from random import randint
for i in range(100):
  key = candidate[ randint(0,4) ]
  makeDic(vote,key)

In [57]:
vote

{'이': 20, '박': 22, '최': 18, '홍': 23, '김': 17}

In [59]:
# 리스트에서 홀수만 반환하는 함수
def get_odd_numbers(numbers):
    odd_numbers = []
    for num in numbers:
        if num % 2 != 0:
            odd_numbers.append(num)
    return odd_numbers

In [60]:
temp = [1,4,1,5,74,1,5,4,1,5,4]
result = get_odd_numbers(temp)
result

[1, 1, 5, 1, 5, 1, 5]

In [62]:
# 집합의 합을 구하는 함수
def calculate_tuple_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [63]:
result = calculate_tuple_sum( [1,2,3,4,5,6]  )
result

21

In [64]:
# 집합의 합을 구하는 함수
def calculate_tuple_sum(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [68]:
temp = [1,2,3,4,5,6]
result = calculate_tuple_sum( *temp )
# result = calculate_tuple_sum( 1,2,3,4,5,6 )
result

21

In [71]:
# 딕션너리에서 값에 대항하는 key값을 찾아서 리스트로 만들어서 반환 하는 함수
def get_keys_by_value(dictionary, value):
    keys = []
    for key, val in dictionary.items():
        if val == value:
            keys.append(key)
    return keys

In [72]:
dic_1 = {'a':1,'b':2,'c':2}
result =  get_keys_by_value(dic_1, 2)
result

['b', 'c']

In [73]:
def get_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

In [76]:
def get_grade(score):
    if score // 10 in [9,10]:
        return "A"
    elif score // 10 == 8:
        return "B"
    elif score // 10 == 7:
        return "C"
    elif score // 10 == 6:
        return "D"
    else:
        return "F"

In [82]:
# 주어진 리스트에서 첫번째 짜리가 월을 나타내는데..
# 각 데이터에서 월만 추출해서 리스트로 만들어 주세요
# mmdd
mmdd = [628,1225,1126,115]
result = []
for i in mmdd:
  result.append(i // 100)

result

[6, 12, 11, 1]

In [83]:
mmdd = ['628','1225','1126','115']
result = []
for i in mmdd:
  result.append(i[:-2])

result

['6', '12', '11', '1']

In [86]:
def find_max_value(numbers):
    # max_value = float('-inf')
    max_value = numbers[0]
    for num in numbers:
        if num > max_value:
            max_value = num
    return max_value

In [87]:
temp = [10,1,4,7,8,4,2,4,7]
result = find_max_value(temp)
result

10

In [88]:
def calculate_tuple_average(numbers):
    total = 0
    count = 0
    for num in numbers:
        total += num
        count += 1
    return total / count

In [94]:
def get_key_with_min_value(dictionary):
    min_value = float('inf')
    min_key = None
    for key, value in dictionary.items():
        if value < min_value:
            min_value = value
            min_key = key
    return min_key

In [95]:
dic_1 = { 'a':2, 'b':1, 'c':3, 'd':1  }
result = get_key_with_min_value(dic_1)
result

'b'

In [96]:
def separate_even_odd(numbers):
    even_numbers = []
    odd_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            odd_numbers.append(num)
    return even_numbers, odd_numbers

In [97]:
a,b = separate_even_odd([1,4,1,5,54,1,5,4,1,4,5,41])
a,b

([4, 54, 4, 4], [1, 1, 5, 1, 5, 1, 5, 41])

In [98]:
temp = [1,4,1,5,54,1,5,4,1,4,5,41]
temp = list(set(temp))
temp

[1, 4, 5, 41, 54]

In [100]:
# set과 동일한 기능을 하는 함수를 구현
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

In [101]:
temp = [1,4,1,5,54,1,5,4,1,4,5,41]
result = remove_duplicates(temp)
result

[1, 4, 5, 54, 41]

In [119]:
# 리스트나 튜플중에 최대와 최소값을 리턴하는 함수
def find_min_max(lists):
  if len(lists) == 0:
    return None,None
  min_value = float('inf')
  max_value = float('-inf')
  for num in lists:
    if num < min_value:
      min_value = num
    if num > max_value:
      max_value = num
  return min_value, max_value

In [120]:
a,b = find_min_max([10,20,50,40])

In [121]:
def get_items_by_value(dictionary, value):
    items = []
    for key, val in dictionary.items():
        if val == value:
            items.append((key, val))
    return items

In [122]:
# Factorial...
# !5   5*4*3*2*1
def calculate_factorial(n):
    factorial = 1
    for i in range(1, n+1):
        factorial *= i
    return factorial

In [135]:
# 리스트를 전달받아서
# 짝수 홀수의 개수를 dictionary 형태로 반환
def separate_even_odd(numbers):
    result = {'even': 0, 'odd': 0}
    for num in numbers:
        if num % 2 == 0:
            result['even'] += 1
        else:
            result['odd'] += 1
    return result

In [137]:
result = separate_even_odd([1,4,1,4,1,4,8,4,8,5,7,4,4,651])
result

{'even': 8, 'odd': 6}

In [140]:
temp_list=['a','b','c','d']
result = ''
for name in temp_list:
  result += name
result

'abcd'

In [145]:
''.join(temp_list)

'abcd'

In [ ]:
# 최빈값.. 가장 빈도수가 많은 값....
# 데이터의 집합(리스트)에서 가장 많이 출몰한 값
temp_list = [11,1,1,1,1,1,2,3,5]