함수 : function  y = f(x)
  - 미리 정의한 비지니스 로직
  - 호출당하는 로직
  - 매개변수(agrument) : 함수를 설계할때 받겠다고 선언한 변수
  - 파라메터(parameter) : 함수를 호출할때 넘겨주는 변수

In [10]:
def add(x1, x2):
  return x1 + x2

In [11]:
# 함수는 이름으로 호출한다.이때 필요하면 설계한 대로 값을 전달한다
result = add(10,20)

In [12]:
print(result)

30

In [16]:
# 함수에서 생성한 변수는 함수가 실행을 종료하면 같이 없어진다.
# 아래 함수에서 생성한 변수는 x1,x2,add_result
def add(x1, x2):
  add_result = x1 + x2
  return add_result

In [17]:
add(10,20)

30

In [18]:
add_result

NameError: ignored

입력값이 없고 출력은 있음

In [22]:
def getMenu():
  return "1. show and display\n2. save the item"

In [23]:
print(getMenu())

1. show and display
2. save the item

입력값은 있는데 출력이 없는경우

In [24]:
def display_selected_menu(select_num):
  if select_num == 1:
    print("1번 메뉴를 선택했습니다")
  elif select_num == 2:
    print("2번 메뉴를 선택했습니다")
  else:
    print("잘못선택했습니다.(1,2, 둘중에 하나를 선택하세요)")

In [25]:
display_selected_menu(1)

1번 메뉴를 선택했습니다

함수를 만드는 이유
  - 코드의 재 사용
  - 가독성 있는 프로그래밍을 위해서 사용
    - 코드를 쉽게, 그리고 쉬우니깐.. 간단하니깐.. 실수가 적어진다. --> 버그생산을 최소화 한다.

입력과 출력이 없는경우

In [26]:
def display_menu():
  print("menu.......")

display_menu()

menu.......

입력과 출력이 모두 있는경우

In [27]:
def getarea_rectangle(width, height):
  return width *  height

print(getarea_rectangle(10,5) )

50

In [28]:
# 함수의 4가지 타입을 만들어 보고 사용하기
# 1. 입력과 출력이 없음
# 2. 입력만 있음
# 3. 출력만 있음
# 4. 입출력 모두 있음

In [35]:
def add(*args):
  result = 0
  for i in args:
    result +=  i
  return result

In [37]:
add(1,2,3,4,5)

15

for 순환문 복습
  - 집합을 이루는 데이터셋을 자동으로 순환하면서 값을 추출
  - for 변수 in 집합:

In [42]:
list1 = [1,2,3]
result = 0
for data in list1:
  print(f"data:{data}, result:{result}, result += data:{result + data}")
  result += data
print(result)

data:1, result:0, result += data:1
data:2, result:1, result += data:3
data:3, result:3, result += data:6
6

In [47]:
def add(*args):
  result = 0
  for data in args:
    print(f"data:{data}, result:{result}, result += data:{result + data}")
    result += data
  return result

In [49]:
a = 10
print(a)
b = a + 20
result = add(1,2,3,4,5)
c = 100
d = c + 200

result_2 = add(10,20,30,40)
abc = result_2**2

data:1, result:0, result += data:1
data:2, result:1, result += data:3
data:3, result:3, result += data:6
data:4, result:6, result += data:10
data:5, result:10, result += data:15

----------------------------------------------------------------

가변 매개변수  (*변수명)
  - 함수안에서 리스트로 처리된다.
함수에서 가변매개변수와 일반변수가 섞여서  사용가능?
  - 가능
  - 순서가 중요하다

In [66]:
def add2(x, y, *args):
  print(f"args:{args}")
  print(f"x:{x}")
  print(f"y:{y}")

In [70]:
add2(1,2)

args:()
x:1
y:2

함수... 어디까지 써 봤니?

In [79]:
def add(x1, x2):
  return x1 + x2

def minus(x1, x2):
  return x1 - x2

def divide(x1, x2):
  return x1 / x2

def multi(x1, x2):
  return x1 * x2

In [73]:
def calculator(op, x1, x2):
  return op(x1, x2)

In [81]:
calculator(lambda x,y : x%y , 10 , 20 )

10

In [82]:
abc = lambda x,y : x%y

In [83]:
abc(10,20)

10

디폴트 매개변수

In [86]:
def add(x1, x2=5):
  return x1 + x2

In [87]:
add(100,1)

101

In [88]:
add(100)

105

In [89]:
"abc".upper()

'ABC'

In [90]:
"ABC".lower()

'abc'

In [92]:
def string_uppder_lower(str, option=False):
  if option:
    return str.upper()
  else:
    return str.lower()

In [93]:
string_uppder_lower('ABDEdafdadASBDFeadsfa')

'abdedafdadasbdfeadsfa'

In [94]:
string_uppder_lower('ABDEdafdadASBDFeadsfa',True)

'ABDEDAFDADASBDFEADSFA'

In [98]:
def add(x2=5 , x1=10):
  return x1 + x2

In [99]:
add(100)

110

디폴트 매개변수는 항상 뒤에서부터 채운다

In [100]:
def add(x1,x2=2,x3=5,x4=5):
  return x1+x2+x3+x4

키워드 매개변수

In [101]:
def add(x1,x2):
  print(f"x1 : {x1}")
  print(f"x2 : {x2}")

In [103]:
add(x2=10,x1=20)

x1 : 20
x2 : 10

가변 키워드 매개변수

In [106]:
def abc(**kargs):
  print(kargs)

In [109]:
abc(a=1,b=2)

{'a': 1, 'b': 2}

In [110]:
def process_info(**kargs):
  for key,value in kargs.items():
    print(f"key:{key}, value:{value}")

In [111]:
process_info(name="홍길동",age="25",address="서울시")

key:name, value:홍길동
key:age, value:25
key:address, value:서울시

함수의 리턴 값은 한개일까?
  - 여러개의 값을 리턴하려면
    - 함수의 실행 결과 그 결과한개 이상 받으려면

In [122]:
# 리스트를 리턴하는 함수
# 주어진 데이터들에서 짝수만 골라서 리턴
def get_ood(*args):
  result = []
  for data in args:
    if data % 2 == 0:
      result.append(data)
  return result

In [123]:
get_ood(1,2,3,4,10,20,1,52,214,10,20)

[2, 4, 10, 20, 52, 214, 10, 20]

In [124]:
# 함수에 데이터들을 전달하면 그중에서 최대값과 최소값을 출력한다.
def get_min_max(*args):
  return max(args), min(args)

In [128]:
max_val, min_val =  get_min_max(2,5,4,1,5,1,2,1,45,100)
max_val, min_val

(100, 1)

함수에 전달하는 값은... 원본이 넘어가는게 아니라 함수가 전달한 값을 자체 생성한 변수로 받아온다.

In [129]:
def temp(abc):
  abc = 10000

In [130]:
abc = 50
temp(abc)
print(abc)

50

In [131]:
list1 = [1,2,3,4,5]
list2 = list1

In [132]:
list1

[1, 2, 3, 4, 5]

In [133]:
list2

[1, 2, 3, 4, 5]

In [135]:
list2[0] = 100
list2

[100, 2, 3, 4, 5]

In [136]:
list1

[100, 2, 3, 4, 5]

 - 값에 의한 호출 : call by value
 - 주소에 의한 호출 : call by reference

In [148]:
def makeDict(dic_value):
  if "홍길동" not in dic_value:
    dic_value['홍길동'] = 1

In [149]:
dict1 = {'이순신':100}
dict1

{'이순신': 100}

In [150]:
makeDict(dict1)

In [151]:
dict1

{'이순신': 100, '홍길동': 1}