한글설정

In [ ]:

# 1. 코렙에서 한글 폰트 설치하기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 2. 설치가 다 되면 메뉴-런타임-런타임 다시시작

In [1]:
# 3. 한글폰트 적용하기
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'NanumBarunGothic' # 나눔바른고딕 적용하기

In [ ]:
!unzip '/content/drive/MyDrive/소상공인시장진흥공단_상가(상권)정보_20230630.zip'

In [3]:
from glob import glob

In [4]:
fpath = glob('/content/╗є░б(╗є▒╟)┴д║╕_20230630/*.csv')

In [6]:
import pandas as pd
pd_lists = [pd.read_csv(frow,low_memory=False) for frow in fpath]

In [7]:
df = pd.concat(pd_lists)

In [9]:
df = df.reset_index(drop=True)

In [13]:
df.describe(include='object')

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,시군구명,행정동명,법정동명,대지구분명,지번주소,도로명,건물관리번호,건물명,도로명주소,층정보
count,2417759,2417758,16848,2417759,2417759,2417759,2417759,2417759,2417759,2417397,...,2417759,2417759,2417759,2417759,2417759,2417759,2417698,826723,2417759,1188001
unique,2417759,1569003,1584,10,10,75,75,247,247,478,...,228,3164,3920,2,1074223,113417,1055456,143348,1055342,341
top,MA0101202210A0010139,컴퓨터수리,코리아,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,중구,중앙동,중동,대지,서울특별시 송파구 문정동 634,서울특별시 강남구 테헤란로,1171010800105600000000001,롯데백화점,서울특별시 송파구 충민로 66,1
freq,1,1392,894,790274,790274,322709,322709,150729,150729,229251,...,74144,43989,16845,2411849,957,3900,1202,1959,1202,722004

In [ ]:
!pip install folium

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import folium

In [ ]:
pd.options.display.max_columns = None

In [ ]:
[colname for colname in df.columns if '코드' in colname ]

['상권업종대분류코드',
 '상권업종중분류코드',
 '상권업종소분류코드',
 '표준산업분류코드',
 '시도코드',
 '시군구코드',
 '행정동코드',
 '법정동코드',
 '지번코드',
 '대지구분코드',
 '도로명코드']

In [ ]:
df2 =  df.drop(columns= [colname for colname in df.columns if '코드' in colname ],axis=1  )
df2.head(1)

In [ ]:
plt.figure(figsize=(12,5))
sns.countplot(data=df2,x='상권업종대분류명')
# df2['상권업종대분류명'].value_counts()

In [ ]:
sns.catplot(data=df2,x='상권업종대분류명',kind='count',col='시도명',col_wrap=4)

업종중에 커피관련된 업종

In [ ]:
df2.isna().mean()

In [ ]:
df3 = df2.dropna(subset=['상호명'])
df3.shape

(2417758, 28)

In [ ]:
df3.loc[df3['상호명'].str.contains('스타벅스'),'시도명']

In [ ]:
df.loc[df['상호명'].str.contains('스타벅스'),'시도명']

ValueError: ignored